/* Stylesheet Edit All *** Gemaakt door Jesse en Jeroen *** */



/*
-------------------------------------------
//////////// TYPOGRAFIE STYLES ////////////
-------------------------------------------
*/

html, body {
	font-family: 	"milibus",sans-serif;
	color: 			#282B30; /* Dit is de standaard zwart */
	margin: 		0 0 0 0;
	padding: 		0 0 0 0;
	font-size: 		100%;
	line-height: 	1.265;
	height: 		100%;
}


.no-overflow {
	overflow: hidden;
}

.stick-top {
	top: 0 !important;
}


a, 
a.active,
a:hover, 
a:active, 
a:visited {
	font-size: 			95%;
	text-decoration: 	none;
	color:				#23262A;
	cursor: 			pointer;
	outline: none;
	outline: 0;
}

.bg-rood 	p a	{ color: #F6F6F6; }
.bg-wit		p a	{ color: #282B30; }
.bg-turq 	p a	{ color: #282B30; }
.bg-zwart 	p a	{ color: #1C1C1C; }
.bg-antra 	p a	{ color: #1C1C1C; }


.bg-rood a	{ color: #EEE5DA; }
.bg-turq a	{ color: #EEE5DA; }
.bg-zwart a	{ color: #EEE5DA; }
.bg-antra a	{ color: #EEE5DA; }

/* --- Overall Heading --- */

h1, h2, h3, h4, h5, p, ul, li, sub, sup, a, 
article, section, aside, strong {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h1, h2, h3, h4, h5, nav {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

h1 i, h2 i, h3 i, h4 i, h5 i {
	color: #191B1E;
	font-style: normal;
}


/* --- Tekstkleuren --- */
.txt-rood	{ color: #D41217; }
.txt-wit	{ color: #F6F6F6; }
.txt-turq	{ color: #33B6B3; }
.txt-zwart	{ color: #282B30; }
.txt-antra	{ color: #404951; }

.txt-left  {text-align: left;}
.txt-right {text-align: right;}

p, ul, li {
	font-weight: 300;
}

p b {
	background: white;
	padding: .2em;
	font-size: .8em;
}

.pager {
	float: right;
	display: inline-block;
	width: 10%;
	text-align: right;
	margin-top: -2.4em;
}

.groot { font-size: 1.6em; }

/*
-------------------------------------------
//////////// COLORSTYLES ////////////
-------------------------------------------
*/

/* Background kleuren */
.bg-rood		{ background: #D41217; }
.bg-wit			{ background: #f9f7f4; }
.bg-grijs		{ background: #c7c7c7; }
.bg-grijs2		{ background: #c7c7c7; }
.bg-grijs3		{ background: #e5e4e4; }
.bg-donkergrijs	{ background: #c7c7c7; }
.bg-turq		{ background: #33B6B3; }
/* .bg-zwart	{ background: #282B30; } */
.bg-zwart		{ background: #1C1C1C; }
.bg-antra		{ background: #1C1C1C; }


.bg-rood.clear 			{ border-bottom: 10px solid #ac1e2e; }
.bg-wit.clear 			{ border-bottom: 10px solid #f9f7f4; }
.bg-grijs.clear			{ border-bottom: 10px solid #c5c5c5; }
.bg-donkergrijs.clear 	{ border-bottom: 10px solid #cccccc; }
.bg-turq.clear 			{ border-bottom: 10px solid #268c8a; }
.bg-zwart.clear 		{ border-bottom: 10px solid #1C1C1C; }
.bg-antra.clear 		{ border-bottom: 10px solid #1C1C1C; }

.lijn-rood {
	border-bottom: 1px dashed #E83F50;
}


/* Buttons Overall */
a.btn-rood, a.btn-wit, a.btn-grijs, a.btn-turq, a.btn-zwart, a.btn-antra {
	text-transform: uppercase; 
	font-weight: bold; 
 	border-radius: .15em;  
	padding: .3em .5em .3em .5em;
	display: inline-block;
	
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

/* Buttons */
a.btn-rood	{ color:#F6F6F6; background:#D41217; border: solid 1px #93130a; border-bottom: 5px solid #93130a; }
a.btn-wit	{ color:#282B30; background:#F6F6F6; border: solid 1px #F6F6F6; border-bottom: 5px solid #F6F6F6; }
a.btn-grijs { color:#efefef; background:#b5b5b5; border: solid 1px #8d8d8d; border-bottom: 5px solid #8d8d8d; }
a.btn-turq	{ color:#F6F6F6; background:#33B6B3; border: solid 1px #258c8b; border-bottom: 5px solid #258c8b; }
a.btn-zwart	{ color:#F6F6F6; background:#282B30; border: solid 1px #282B30; border-bottom: 5px solid #282B30; }
a.btn-antra	{ color:#F6F6F6; background:#404951; border: solid 1px #404951; border-bottom: 5px solid #2c3338; }

/* Main buttons */
.a-btn{
    height: 32px;
    display: inline-block;
    position: relative;
    float: left;
    overflow: hidden;
    transition: all 0.3s linear;
	padding-right: 80px !important;
}

.a-btn-text{
    padding-top: 5px;
    display: block;
    font-size: 18px;
    -webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
.a-btn-slide-text{
    position:absolute;
    height: 100%;
    top: 0px;
    right: 52px;
    width: 0px;
    background: #26b6b4;
    text-align: left;
    overflow: hidden;
    -webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

.btn-rood .a-btn-slide-text{
	background: #d41217;
}

.a-btn-icon-right{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 52px;
    border-left: 2px solid #93130a;
}

.a-btn-icon-right.profilebutton {
    border-left: 2px solid #258c8b;
    border-left: 2px solid #268c8a;
}

.a-btn-icon-right span{
    width: 38px;
    height: 38px;
    position: absolute;
    left: 73%;
    top: 66%;
    margin: -20px 0px 0px -20px;
}

.a-btn:hover{
    padding-right: 130px !important;
}
.a-btn:hover .a-btn-text{
}
.a-btn:hover .a-btn-slide-text{
    width: 50px;
}
.a-btn:hover .a-btn-icon-right span{
}

/* Hovers */
/*
a.btn-rood:hover, a.btn-rood.active		{ background:#93130a; border-bottom: 5px solid #590f16;}
a.btn-wit:hover, a.btn-wit.active		{ background:#bbbbbb; }
a.btn-grijs:hover, a.btn-grijs.active 	{ background:#8d8d8d; border-bottom: 5px solid #606060;}
a.btn-turq:hover, a.btn-turq.active		{ background:#218281; border-bottom: 5px solid #165c5b; }
a.btn-zwart:hover, a.btn-zwart.active	{ background:#121315; }
a.btn-antra:hover, a.btn-antra.active	{ background:#2c3338; border-bottom: 5px solid #0f1113;}
*/

/* Buttons Stroke */
a.btn-rood.stroke,
a.btn-wit.stroke,
a.btn-turq.stroke,
a.btn-zwart.stroke,
a.btn-antra.stroke {
	text-shadow: none;
	font-weight: 100;
}

a.btn-rood.stroke	{ border: 1px solid #D41217; background:none; color: #D41217; border-bottom: 3px solid #93130a;}
a.btn-wit.stroke	{ border: 1px solid #F6F6F6; background:none; color: #F6F6F6; border-bottom: 3px solid #dbdbdb;}
a.btn-turq.stroke	{ border: 1px solid #33B6B3; background:none; color: #33B6B3; border-bottom: 3px solid #165c5b;}
a.btn-zwart.stroke	{ border: 1px solid #191B1E; background:none; color: #191B1E; border-bottom: 3px solid #191B1E;}
a.btn-antra.stroke	{ border: 1px solid #404951; background:none; color: #404951; border-bottom: 3px solid #404951;}
a.btn-grijs.stroke	{ border: 1px solid #8d8d8d; background:none; color: #8d8d8d; border-bottom: 3px solid #8d8d8d;}

/* Hovers Stroke */
a.btn-rood.stroke:hover, a.btn-rood.stroke.active   { border-color: #D41217;}
a.btn-wit.stroke:hover,  a.btn-wit.stroke.active    { border-color: #282b30; background: #282b30; color: #f6f6f6;}
a.btn-turq.stroke:hover,  a.btn-turq.stroke.active	{ border-color: #33B6B3;}
a.btn-zwart.stroke:hover, a.btn-zwart.stroke.active	{ border-color: #191B1E; background: #191B1E; color: #E1E1E1;}
a.btn-antra.stroke:hover, a.btn-antra.stroke.active	{ border-color: #404951;}
a.btn-grijs.stroke:hover, a.btn-grijs.stroke:active { border-color: #696969;}


#dynamic-container article.images b {
	color: #D41217;
	padding: .4em .3em;
	border-radius: .2em;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
}

#dynamic-container article.images em {
	font-style: normal;
	color: #F6F6F6;
	padding: .3em;
}

.projectnummers {
	display: inline-block;
	background: #f6f6f6;
	border: 1px solid #f6f6f6;
	color: #D41217;
	padding: .2em .2em .2em .5em;
	margin-right: .2em;
	border-radius: .3em;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
}

.filter {
	display: inline-block;
	color: #f6f6f6;
	padding: .2em .2em .2em .5em;
}

/* Borders */
.br-turg 	{ border: 1px solid #33B6B3; }
.br-zwart 	{ border: 1px solid #282B30; }
.br-antra 	{ border: 1px solid #404951; }

img.breed {
	width: 100%;
	padding-bottom: 1em;
	padding-top: 1em;
}

img.spr {
	max-width: 18%;
	padding: 1% 0%;
	margin: auto;
	display: inline;
}

img.big {
	max-width: 16%;
}

.back, .back-to-overzicht {
/* 	float: left; */
	display: block !important;
	z-index: 9999;
	margin: 1.2em 2.2em;
/* 	position: absolute; */
}

.back:hover {
	color: #F6F6F6;
	background: #D41217;
	border-color: #D41217;
}

.last-but-not-least {
	margin-left: -129px !important;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}

.absolute-vorige {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.back-to-profile {
	position: absolute;
	margin-left: 30px;
	margin-top: 40px;
}

.prev-project {
	float: left;
	margin-left: 30px;
	margin-top: 40px;
	display: block;
}

.next-project {
	float: right;
	margin-right: 30px;
	margin-top: 40px;
	display: block;
}

/*
aside {
	width: 27.25%;
	padding: 1%;
	float: right;
}
*/

/*
-------------------------------------------
//////////// NAVIGATIE STYLES ////////////
-------------------------------------------
*/

nav {
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 1001;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

nav.antra {
	background: #1C1C1C;
	border: .3em solid #0D0D0D;
}

.antra ul li a {
	text-shadow: 1px 1px 1px #0D0D0D;
	color: white;
}

nav.bottom {
	bottom: 0;
	position: absolute;
}

nav ul {
	text-align: center;
	overflow: hidden;
}

nav ul li {
	display: inline-block;
	font-weight: 300;
	width: 19%;
	line-height: 4;
	
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
}

nav ul li a {
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    border-bottom: 2px solid #EEE5DA;
    padding-bottom: 1.8em;
    outline: none;
}

nav ul li a:hover 	{ border-bottom: 2px solid #EEE5DA; padding-bottom: .3em; outline: none;}
nav ul li a.active 	{ border-bottom: 2px solid #D41217; padding-bottom: .3em; outline: none;}
nav ul li.home a:hover 	{border-bottom: none; outline: none;}
nav ul li.home a:active {border-bottom: none; outline: none;}
nav ul li img 		{ width: 24%; margin-top: -.15em;}

/* Images */

.in-nav {
	text-align: center;
	position: fixed;
	z-index: 1;
	width: 8%;

	bottom: 28%;
	left: 46%;
}

.logo {
	text-align: center;
	z-index: 999;
	position: fixed;
	left: 50%;
	margin-left: -12.5%;
	top: 13%;
	width: 25%;
	z-index: 0;
}

.header-icon {
	position: fixed;
	bottom: 15%;
	left: 47%;
	width: 6%;
	-webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
/*	z-index: 9;*/
}

.header-icon:hover {
	width: 6.25%;
	left: 46.8%;
	bottom: 13%;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}																	

a.scroller img {
	width: 80px;
	margin: 0 auto;
	position: relative;
	display: block;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

a.scroller2 img {
	width: 80px;
	margin: 0 auto;
	position: relative;
	display: block;
	margin-top: -160px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

a.scroller2 img:hover, 
a.scroller  img:hover { width: 90px;}
a.scroller  img:hover { margin-top: -.5em; }

/*
-------------------------------------------
//////////// MAIN CONTENT STYLES //////////
-------------------------------------------
*/

/* --- Sections --- */
section, footer {
	width: 100%;
	height: 100%;
	background: #bfbfbf;
	position: relative;
}

section.clear { height:auto;}


/* --- Articles --- */
article {
	width: 82%;
	padding: 4%;
	margin: 0 auto;
}

article header {
	margin-bottom: 1.4em;
}

.clear article header {
	margin-bottom: 0em;
}

article header img {
	margin: 0 auto;
	display: block;
	max-width: 100px;
	margin-bottom: 1em;
}

article p {
	margin: 1em 0;
	line-height: 1.45em;
}

article span {
	width: 100%;
	height: 3px;
	display: inline-block;
}

article.images {
	width: 100%;
	padding: 10px 0 0 0;
	margin: 0px;
    padding-left: 230px;
    box-sizing: border-box;
}

article.images h4.titel {
	text-align: left !important;
	background: #e5e5e5;
	color: #8C8C8C;
	text-transform: none;
	font-weight: 100;
	padding: 10px 5px;
	font-size: .8em;
}

.imageholder {
	/* margin: 1em 0em; */
	height: 80%;
	line-height: 1;
	overflow: hidden;
}


/* Articles die minder hoog zijn */

section.clear article{
	text-align: left;
	width: 90%;
}

section.clear article .half {
	width: 40%;
	padding: 0% 4%;
	vertical-align: top;
	display: inline-block;
}

section.clear article .drie {
	width: 29%;
	padding: 0% 2%;
	vertical-align: top;
	display: inline-block;
}

article .drie header {
	margin-top: 4em;
}

article .drie header h4 {
	height: 7%;
	width: 76%;
	float: right;
}

section.clear article .rightside div.blok {
	display: inline-block;
	width: 24%;
}

.leftside {
	width: 20%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.rightside {
	width: 75%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

section.clear article div p {
	display: inline-block;
	font-size: .9em;
	line-height: 1.6em;
	margin: 0 0 0 0;
}

footer article {
	padding: 1%;
}

footer img {
	display: block;
	float: left;
	width: 60px;
	margin-right: 1em;
}


/* TOOLTIP */

a.tooltip {
    text-decoration:none;
    width: 110px;
}

a.tooltip:before {
    content:"";
    color:#020305;
}

a.tooltip span {
    padding:.3em;
    background:#efefef;
	background-size: cover;
    position:absolute;
    top:5.2em;
    right: 25px;
    color:#F6F6F6;
    box-shadow:0px 1px 0px #fff;
    text-align:center;
    box-shadow: 0em .2em 0em rgba(45,45,45,0.5);

    opacity:0;
    -moz-transition: all .5s ease; 
    -webkit-transition: all .5s ease;
    -o-transition:all .5s ease;
    transition: all .5s ease;
}

a.tooltip span img {
	width: 150px;
}

a.tooltip span p {
	text-shadow: none;
	color: black;
	font-weight: 100;
	font-size: .8em;
	padding: .8em 0em .5em 0em;
}

a.tooltip span:before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #590f16;
    z-index:5;
    content: " ";
    position:absolute;
    top:-.5em;
    right:60px;
}

a.tooltip span:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #590f16;
    display:block;
    content: " ";
    position:absolute;
    top:-.5em;
    right:60px;
}

a.tooltip:hover span {opacity:1;}

/*
-------------------------------------------
//////////// FOOTER STYLES ////////////
-------------------------------------------
*/

footer p a {
	color: #1C1C1C !important;
	font-size: 90%;
	line-height: 1.3;
	display: block;
}

footer p a:hover {
	color: #D41217 !important;
}

footer p strong {
	display: block;
}

footer section article p:first-of-type:first-letter {
	float: none;
	padding: 0 0 0 0;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
}



/*
-------------------------------------------
//////////// GOOGLE MAPS STYLE ////////////
-------------------------------------------
*/

#map-canvas {
	position: relative;
	width: 100%;	
	height: 70%;
	overflow: hidden;
	z-index: 999;
}
#content {
	width: 150px;
	overflow: hidden;
}	

/*
-------------------------------------------
//////////// VIDEO STYLE ////////////
-------------------------------------------
*/

.video {
	display: block;
}
.video-right {
	display: inline-block;
	float: right;
}

/*
-------------------------------------------
//////////// SECTION ID'S ////////////
-------------------------------------------
*/

#home-container {
	border: none;
	background-size: cover;
}
#home-container #een {
	background: url(../img/header-1.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #een.hires {
	background: url(../img/header-1-hires.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #twee {
	background: url(../img/header-2.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #twee.hires {
	background: url(../img/header-2-hires.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #drie {
	background: url(../img/header-3.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #drie.hires {
	background: url(../img/header-3-hires.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #vier {
	background: url(../img/header-4.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #vier.hires {
	background: url(../img/header-4-hires.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #vijf {
	background: url(../img/header-5.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #vijf.hires {
	background: url(../img/header-5-hires.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #zes {
	background: url(../img/header-6.jpg) center center no-repeat;
	background-size: cover;
}
#home-container #zes.hires {
	background: url(../img/header-6-hires.jpg) center center no-repeat;
	background-size: cover;
}
#profile-container {
	background: url(../img/profile-1.jpg) center center no-repeat;
	background-size: cover;
}
#profile-container.hires {
	background: url(../img/profile-1-hires.jpg) center center no-repeat;
	background-size: cover;
}
#works-container {
	background-image: url(../img/works-1.jpg);
	background-size: cover;
}
#works-container.hires {
	background-image: url(../img/works-1-hires.jpg);
	background-size: cover;
}
#contact-container {
	
}

/*
-------------------------------------------
//////////// DYNAMISCHE CONTENT ///////////
-------------------------------------------
*/
article.how-we-work {
/*
	height: 100%;
	padding-right: 35%;
	margin-left: 15%;
	border-left: 10px solid #474747;
	z-index: 9999;
	position: relative;
*/
	height: 100%;
	padding-right: 45%;
	margin-left: 15%;
	border-left: 10px solid #474747;
	z-index: 9999;
	position: relative;
	width: 60%;

}

#project-overzicht-container, #project-detail-container, #detail-container {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    z-index: 1002;
    top: 0;
    left: 0;
    display: none;
}

#project-detail-container, #detail-container {
    z-index: 1003;
    background: #C7C7C7;
}

#works-overzicht article {background: #bfbfbf;}

#works-overzicht header {
	background: #1C1C1C;
	position: fixed;
	width: 220px;
	height: 100%;
/* 	position: absolute; */
	z-index: 999;
}

#works-overzicht header h1 {
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 15px;
	font-size: 170%;
	border-bottom: 3px solid #D41217;
}

#works-overzicht header .subnav {}
#works-overzicht header .subnav a {
	display: block;
	margin: 10px 30px;
}

#works-overzicht img {
	display: block;
	margin: 0em;
	width: 100%;
}

#dynamic-container, #dynamic-container-profile {
	position: relative;
	height: 100%;
}

/* Projecten content */


#project-detail-container article.content, #detail-container article.content {
/* 	overflow-y: hidden; */
/*	height: 100%;*/
/*
	padding-right: 40%;
	margin-left: 12%;
	border-left: 10px solid #525252;
	border-left: 10px solid rgba(43,43,43,0.25);
*/  
/*	z-index: 99;*/
}

#project-detail-container .close, #detail-container .close {
    right: 0;
    position: absolute;
    z-index: 9999;
}

#project-detail-container article.content h1, #detail-container article.content h1 {
/* 	display: inline-block; */
}

#project-detail-container article.content h5, #detail-container article.content h5 {
	background: #B5B5B5;
	padding: .3em .4em;
	width: 92%;
}

#project-detail-container article.content p, #detail-container article.content p {
	display: inline-block;
	width: 46%;
	vertical-align: top;
	border-top: 1px dashed #d41217;
	padding: .8em 0em;
	margin: 1.2em .4em;
}

#detail-container article.content p {
    border-top: 1px dashed #33B6B3;
}

#project-detail-container article.content p.breed, #detail-container article.content p.breed {
	width: 100%;
}

#project-detail-container article.content p a, #detail-container article.content p a {
	background: #252b30;
	color: #d5d5d5;
	padding: .2em .3em;
	border-radius: .3em;
	-webkit-border-radius: .2em;
	display: inline-block;
	margin-bottom: .3em;
}


#project-detail-container article.content p a:hover, #project-detail-container article.content p a:hover {
	/*background: #f6f6f6;*/
	color: #d41217;
}

#project-detail-container article.content img.attribute, #detail-container article.content img.attribute {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin: 1.2em 0em;
	border-bottom: 3px solid #b5b5b5;	
}

#project-detail-container article.content img.img-stack, #detail-container article.content img.img-stack {
	width: 23%;
	display: inline-block;
	vertical-align: top;
	line-height: 1 !important;
	letter-spacing: 1 !important;
	border-bottom: 3px solid #b5b5b5;
}

#project-detail-container article.content img.attribute:hover,
#project-detail-container article.content img.img-stack:hover, 
#detail-container article.content img.attribute:hover,
#detail-container article.content img.img-stack:hover {
	opacity: .6;	
}

a.video {
	width: 23%;
	display: inline-block;
	vertical-align: top;
	
	line-height: 1 !important;
	letter-spacing: 1 !important;

	-webkit-transition: background 200ms ease-out;
	-moz-transition: background 200ms ease-out;
	-ms-transition: background 200ms ease-out;
	-o-transition: background 200ms ease-out;
	transition: background 200ms ease-out;
}

a.video span img {
	margin-top: -89%;
	margin-left: 30%;
	width: 70px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

a.video:hover span img {
	width: 85px;
	margin-left: 25%;

}

a.video img:hover {
	opacity: 1 !important;
}

a.video img.img-stack {
	width: 100% !important;
	margin-top: 0 !important;
}

a.video img.img-stack:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

/* Projecten overzicht */
#project-overzicht-container .clickable {
	cursor: pointer;
	display: inline-block;
	width: 18.5%;
	margin: .3em .3em;
	line-height: 1 !important;
	position: relative;
	border-bottom: 2px solid #aeaeae;
    -webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
    overflow: hidden;
}

#project-overzicht-container .clickable {
	background: #181818;
}

#project-overzicht-container .clickable img {
	opacity: .7;
    -webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
#project-overzicht-container .clickable:hover img {
	-webkit-transform: scale(1.03);
	opacity: 1;
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03);
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

#project-overzicht-container .clickable span {
	border-left: 1px dashed white;
	border-right: 1px dashed white;
	border-bottom: 1px dashed white;
	height: 100%;
}

#project-overzicht-container h5.clickable {
    width: 100% !important;
    margin-top: 1em !important;
    background: #aeaeae;
    padding: .2em;
    border: none !important;
}


/*
-------------------------------------------
//////////// MEDIQUERIES ///////////
-------------------------------------------
*/

@media screen and (min-width: 1024px) {	
	
	article {
		width: 50%;
	}
	
	/* navigatie */
	nav ul li {
		width: 12%;
	}
	
	nav ul li img {
		width: 70px;
	}
}

@media screen and (max-width: 1024px) {


	/* De aside staat nog even in de koelkast */
	/*
aside {
		display: none;
	}

	article.content {
		padding-right: 40%;
	}
	
*/
	article { width: 70%; }
	
	/* Landing Logo */
	.header-icon {
		width: 7%;
		left: 45.5%;
	}

	.header-icon:hover {
		width: 7%;
		left: 45.5%;
	}	
	
	nav ul li img {
		width: 40%;
	}
	
	.in-nav {
		width: 11%;
		bottom: 32%;
		left: 43.5%;
	}
}

@media screen and (max-width: 900px) {

	aside {
		display: none;
	}

/*
	article.content {
		padding-right: 40%;
	}
*/
	
	.icon {
		margin-top: 1em;
	}
	
	article { width: 90%; }

	/* Landing Logo */
	.header-icon {
		width: 10%;
		left: 44%;
	}
	
	.header-icon:hover {
		width: 10.5%;
		left: 43.6%;
	}
	
	.logo {
		width: 40%;
		left: 42%;
	}

	/* Navigatie */
	nav ul li {
		width: 18%;
	}
	
	nav ul li a {
		font-size: .8em;
	}
	
	nav ul li img {
		width: 40%;
	}

	/* 	sections die clear zijn */	
	section.clear article {
		width: 92%;
	}
	
	section.clear article .drie {
		width: 42%;
	}
	
	section.clear article .drie h4 {
		min-height: 4.5em;
	}
	
	section.clear article div.blok {
		width: 23%;
	}
	
	/* Footer styles */
	footer section.clear article div p {
		display: block;
	}
	
	footer img {
		display: block;
		float: none;
	}
	
	#dynamic-container h5 {
		margin-top: 1.2em;
	}
	
	#dynamic-container article.content {
		width: 88%
	}

	.pager {
		width: 15%;
	}
	
	.next-project, .prev-project {
		margin-top: 10px;
	}
	
	.next-project {
		margin-right: 7px;
	}
	
	.prev-project {
		margin-left: 7px;
	}
	.back-to-overzicht {
		margin-left: 7px;
	}
	a.tooltip span {
		top: 3.4em;
	}
}

@media screen and (min-width: 900px) {
	section.clear article .drie h4 {
		min-height: 4em;
	}
}

@media screen and (max-width: 550px) {
	
	/* Landing Logo */
	.logo {	
	width: 66%;
	left: 30%;

	}
	#dynamic-container h5 {
		margin-top: 3.2em;
	}
	
	.icon {
		width: 22%;
	}

	.in-nav {
		width: 25%;
		left: 45%;
		top:60px;
		margin-left: 0%;
	}
	
	.header-icon {
		width: 20%;
		left: 40%;
		bottom: 20%;
	}
	
	.header-icon:hover {
		width: 22%;
		left: 38.75%;
		bottom: 20%;
	}
	
	section.clear article .drie {
		width: 94%;
		display: block;
		min-height: 2em;
	}
	
	section.clear article .drie h4 {
		min-height: 3em;
		font-size: .8em;
	}
	
	article.content h1, article.images h1 {
		display: block;
		margin-top: 1.5em;
		line-height: 1;
	}
	
	img.spr {
		max-width: 15%;
	}

	article {
		width: 80%;
	}
	
	article header {
		margin-bottom: 0;
	}

	article .drie header {
		margin-top: .25em;
	}
	
	article p {
		font-size: 80%;
	}

	article.content h1 {
		font-size: 120%;
	}
	
	/* Projecten content */
	#dynamic-container article.content img.attribute,
	#dynamic-container article.content img.img-stack, 
	a.video, a.video img.img-stack {
		width: 20%;
		margin-top: 0em;
	}
	
	#project-overzicht-container .clickable {
		width: 22%;
	}
	
	#project-overzicht-container .clickable .overlay-txt {
		font-size: 60%;
	}
	
	#dynamic-container article, 
	#dynamic-container article.content, 
	#dynamic-container-profile article {
		width: 92%;
		display: block;
		margin-left: 0;
		height: 100%;
	}
	
	#dynamic-container-profile article {
		position: absolute;
		top: 0;
	}
	
	#dynamic-container article.images a {
		display: none;
	}
	
	#dynamic-container article.images b,
	#dynamic-container article.images .proj {
		display: inline-block !important;
		display: block;
		padding: .25em 2em;
	}
	
	#dynamic-container article.images b {
		display: none !important;
	}
			

	#dynamic-container article.images em,
	#dynamic-container article.images .cat,
	#works-overzicht header .subnav {
		display: none;
	}
 
	
	#dynamic-container header a {
		display: inline-block !important;
	}
	
	
	#dynamic-container article.content p {
		width: 90%;
		display: block;
	}

	
	/* Navigatie */
	nav ul li {
		/* width: 18%; */
		width: 23%;
	}

	nav ul li.home {
		display: none;
	}	
	
	nav ul li a {
		font-size: .8em;
	}
	nav ul li img {
		width: 80%;
		display: none;
	}

	a.scroller2 img {
		margin-top: -100px;
	}

	section.clear article div.blok {
		width: 100%;
		display: block;
		float: none;
		margin: 2em 0em;
	}
	
	section.clear article div p {
		float: none;
	}
	
	/* buttons */
	.back, .back-to-overzicht, .back-to-profile, .next-project {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		display: block;
		width: 35%;
	}
	
	.back-to-overzicht, .back-to-profile {
		z-index: 99999;
		position: relative;
	}
	
	.back-to-overzicht {
		margin-left: 7px;
	}
	
	.last-but-not-least {
		margin-left: -129px;
	}
	
	.a-btn-text {
		padding-top: 8px;
		font-size: 78%;
	}
	
	.absolute a.btn-rood,
	.absolute-vorige a.btn-rood {
		/*font-size: 0;*/
		height: 26px;
		width: 30px !important;
	}
	
	.absolute-vorige {
		left: 70%;
		top: -10px;
	}
	
	a.tooltip span {
		display: none !important;
	}

	a.video span img,
		a.video:hover span img {
		width: 45px;
		margin-left: 12px;
		margin-top: -75px;
	}
	
	.pager {
		width: 25%;
		text-align: left;
	}
	
	img.big {
		max-width: 40%;
		margin-bottom: .6em;
		margin-top: .5em;
	}
    
    #works-overzicht header {
        width: 100%;
        height: 10%;
    }
    
    article.images {
        padding: 4em 0 0 0;
    }
    
    #works-overzicht header h1 {
        position: fixed;
        right: 20px;
        top: 10px;
    }
    
    .back {
        
    }

}

@media screen and (max-width: 330px) {
		
	/* Landing Logo */
	.logo {
		width: 66%;
		left: 30%;
	}
	
	.icon {
		width: 22%;
		margin-top: 1em;
	}

	.beeldmerk {
		width: 25%;
		left: 37.5%;
		top:60px;
		margin-left: 0%;
	}
	
	.header-icon {
		width: 20%;
		left: 40%;
		bottom: 20%;
	}
	
	.header-icon:hover {
		width: 22%;
		left: 38.75%;
		bottom: 20%;
	}
	
	article p {
		font-size: 90%;
	}
	
	a.scroller2 img, a.scroller img {
		margin-top: -70px;
		display: none;
	}
	
	.a-btn-text {
		padding-top: 1px;
		font-size: 90%;
	}
	
	.a-btn {
		height: 18px;
	}
	.a-btn-slide-text img {
		margin-top: -5px;
	}
	
	a.tooltip span {
		display: none !important;
	}
	
	#project-overzicht-container .clickable {
		width: 29%;
	}
	
	#project-overzicht-container .clickable .overlay-txt {
		font-size: 40%;
	}
	
	#dynamic-container article, 
	#dynamic-container article.content, 
	#dynamic-container-profile article {
		width: 92%;
		display: block;
		margin-left: 0;
		height: 100%;
	}
	
	#dynamic-container h5 {
		margin-top: 0em;
	}
	
	#dynamic-container article.content h1 {
		margin-top: 2.5em;
	}
	
	#dynamic-container article.images a {
		display: none;
	}

	#dynamic-container article.content h5 {
		width: 102%;
		margin: 2.8em -1em;
	}

	a.btn-rood, 
	a.btn-wit, 
	a.btn-grijs, 
	a.btn-turq, 
	a.btn-zwart, 
	a.btn-antra {
		padding: .6em .975em .6em .975em;
	}

	.absolute a.btn-rood, 
	.absolute-vorige a.btn-rood {
		width: 14px !important;
	}
	
	.back {
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		position: absolute;
		font-size: 14px;
        width: 20%;
	}
		
	.pager {
		width: 33%;
	}
	
	.pager a.btn-rood, 
	.pager a.btn-wit, 
	.pager a.btn-grijs,
	.pager a.btn-turq,
	.pager a.btn-zwart,
	.pager a.btn-antra {
		padding: .4em .8em .4em .8em;
	}	

	a.video span img,
		a.video:hover span img {
		width: 30px;
		margin-left: 14px;
		margin-top: -62px;
	}
    
    #works-overzicht header {
        width: 100%;
        height: 10%;
    }
	
}





