/* Stylesheet Edit All *** Gemaakt door Jesse en Jeroen *** */


/*
-------------------------------------------
//////////// TYPOGRAFIE STYLES ////////////
-------------------------------------------
*/

html, body {
	font-family: 	"milibus",sans-serif;
	color: 			#282B30; /* Dit is de standaard zwart */
	margin: 		0 0 0 0;
	padding: 		0 0 0 0;
	font-size: 		100%;
	line-height: 	1.265;
	height: 		100%;
}

a {
	font-size: 			100%;
	text-decoration: 	none;
	color:				#23262A;
	cursor: 			pointer;
}

.bg-rood 	p a	{ color: #F6F6F6; }
.bg-wit		p a	{ color: #282B30; }
.bg-turq 	p a	{ color: #282B30; }
.bg-zwart 	p a	{ color: #F6F6F6; }
.bg-antra 	p a	{ color: #F6F6F6; }


.bg-rood a	{ color: #F6F6F6; }
.bg-turq a	{ color: #F6F6F6; }
.bg-zwart a	{ color: #F6F6F6; }
.bg-antra a	{ color: #F6F6F6; }

/* --- Overall Heading --- */

h1, h2, h3, h4, h5, p, ul, li, sub, sup, a, 
article, section, aside, strong {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h1, h2, h3, h4, h5, nav {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

/* --- Tekstkleuren --- */
.txt-rood	{ color: #E64154; }
.txt-wit	{ color: #F6F6F6; }
.txt-turq	{ color: #33B6B3; }
.txt-zwart	{ color: #282B30; }
.txt-antra	{ color: #404951; }

.txt-left  {text-align: left;}
.txt-right {text-align: right;}

p, ul, li {
	font-weight: 300;
}

/*
-------------------------------------------
//////////// COLORSTYLES ////////////
-------------------------------------------
*/

/* Background kleuren */
.bg-rood		{ background: #E64154; }
.bg-wit			{ background: #F6F6F6; }
.bg-grijs		{ background: #e1e1e1; }
.bg-donkergrijs	{ background: #cccccc; }
.bg-turq		{ background: #33B6B3; }
/* .bg-zwart	{ background: #282B30; } */
.bg-zwart		{ background: #1e1f22; }
.bg-antra		{ background: #404951; }

/* Buttons Overall */
a.btn-rood, a.btn-wit, a.btn-turq, a.btn-zwart, a.btn-antra {
	text-transform: uppercase; 
	font-weight: bold; 
	border-radius: .3em; 
	padding: .3em .5em .3em .5em;
	display: inline-block;
	
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

/* Buttons */
a.btn-rood	{ color:#F6F6F6; background:#E64154; border: solid 1px #E64154; }
a.btn-wit	{ color:#282B30; background:#F6F6F6; border: solid 1px #F6F6F6; }
a.btn-turq	{ color:#F6F6F6; background:#33B6B3; border: solid 1px #33B6B3; }
a.btn-zwart	{ color:#F6F6F6; background:#282B30; border: solid 1px #282B30; }
a.btn-antra	{ color:#F6F6F6; background:#404951; border: solid 1px #404951; }

/* Hovers */
a.btn-rood:hover, a.btn-rood.active		{ background:#ce3042; }
a.btn-wit:hover, a.btn-wit.active		{ background:#e4e4e4; }
a.btn-turq:hover, a.btn-turq.active		{ background:#2ea5a4; }
a.btn-zwart:hover, a.btn-zwart.active	{ background:#23262a; }
a.btn-antra:hover, a.btn-antra.active	{ background:#343c42; }



/* Buttons Stroke */
a.btn-rood.stroke	{ border: 1px solid white; background:none; color: #E64154; }
a.btn-wit.stroke	{ border: 1px solid lightgray; background:none; }
a.btn-turq.stroke	{ border: 1px solid white; background:none; }
a.btn-zwart.stroke	{ border: 1px solid white; background:none; }
a.btn-antra.stroke	{ border: 1px solid white; background:none; }

/* Hovers Stroke */
a.btn-rood.stroke:hover, a.btn-rood.stroke.active   { border-color: #E64154}
a.btn-wit.stroke:hover,  a.btn-wit.stroke.active    { border-color: #F6F6F6}
a.btn-turq.stroke:hover  a.btn-turq.stroke.active	{ border-color: #33B6B3}
a.btn-zwart.stroke:hover a.btn-zwart.stroke.active	{ border-color: #282B30}
a.btn-antra.stroke:hover a.btn-antra.stroke.active	{ border-color: #404951}

/* Borders */
.br-turg 	{ border: 1px solid #33B6B3; }
.br-zwart 	{ border: 1px solid #282B30; }
.br-antra 	{ border: 1px solid #404951; }

/*
-------------------------------------------
//////////// NAVIGATIE STYLES ////////////
-------------------------------------------
*/

nav {
	position: fixed;
	width: 100%;
	z-index: 9999;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: .2em solid #282B30;
}

nav.bottom {
	bottom: 0;
	position: absolute;
}

nav ul {
	text-align: center;
}

nav ul li {
	display: inline-block;
	font-size: larger;
	font-weight: 300;
	width: 19%;
	line-height: 3;
	
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	-ms-transition: all 600ms ease-in-out;
	-o-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
}

nav ul li a {
	text-shadow: 2px 1px 0px #0c0d0d;
   
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

nav ul li a:hover { color: #E64154; }

nav ul li a.active { color: #E64154; }

nav ul li img { width: 26%; }


/* Images */
.logo {
	text-align: center;
	z-index: 999;
	position: fixed;
	left: 50%;
	margin-left: -12.5%;
	top: 250px;
	width: 25%;
	z-index: 9;
}

.header-icon {
	position: fixed;
	top: 130px;
	left: 47%;
	width: 6%;
}


/*
-------------------------------------------
//////////// MAIN CONTENT STYLES //////////
-------------------------------------------
*/

/* --- Sections --- */
section, footer {
	width: 100%;
	height: 100%;
	background: #efefef;
	position: relative;
	z-index: 9;
}

section.clear { height:auto;}


/* --- Articles --- */
article {
	width: 82%;
	padding: 4%;
	margin: 0 auto;
}

article header {
	margin-bottom: 3em;
}

article header img {
	margin: 0 auto;
	display: block;
	margin-top: 5em;
	margin-bottom: 2em;
}

article p {
	margin: 1em 0;
}

article span {
	width: 100%;
	height: 3px;
	display: inline-block;
}

article.imageholder {
	padding: 0% 0% 2% 0%;
}

/*
-------------------------------------------
//////////// FOOTER STYLES ////////////
-------------------------------------------
*/

footer a {
	color: #26B6B4;
	margin: .3em 0 !important;
}

/*
-------------------------------------------
//////////// GOOGLE MAPS STYLE ////////////
-------------------------------------------
*/

#map-canvas {
	position: relative;
	width: 100%;	
	height: 60%;
	overflow: hidden;
	z-index: 999;
}

section.clear article{
	text-align: left;
}

section.clear article div {
	display: inline-block;
	width: 25%;
	margin: 2em;
}

section.clear article div img, section.clear article div p {
	display: inline-block;
}


/*
-------------------------------------------
//////////// SECTION ID'S ////////////
-------------------------------------------
*/

#home-container {
	border: none;
}

#home-container #stores {
	background: url(../img/header-1.jpg) center center no-repeat;
	background-size: cover;
}

#home-container #commercials {
	background: url(../img/header-2.jpg) center center no-repeat;
	background-size: cover;
}

#home-container #interiors {
	background: url(../img/header-3.jpg) center center no-repeat;
	background-size: cover;
}

#home-container #designs {
	background: url(../img/header-4.jpg) center center no-repeat;
	background-size: cover;
}

#profile-container {
	background: url(../img/profile-1.jpg) center center no-repeat;
	background-size: cover;
}

#profile-container #first-step {
	background: url(../img/header-1.jpg) center center no-repeat;
	background-size: cover;
}

#profile-container #second-step {
	background: url(../img/header-2.jpg) center center no-repeat;
	background-size: cover;
}

#profile-container #third-step {
	background: url(../img/header-3.jpg) center center no-repeat;
	background-size: cover;
}

#works-container {
	background-size: cover;}

/*
.swipeding {
	height: 20px;
	width: 100%;
	background: #d1d1d1;
	display: block;
}
*/

#contact-container {
	background: url(../img/contact-1.png) center center no-repeat;
	background-size: cover;
}

/*
-------------------------------------------
//////////// DYNAMISCHE CONTENT ///////////
-------------------------------------------
*/

#works-overzicht article {
	height: 100%;
	padding-right: 24%;
	margin-left: 12%;
	border-left: 10px solid lightgray;

}

#works-overzicht img {
	display: block;
	margin: 1px;
	width: 100%;
}

#dynamic-container, #dynamic-container-profile {
	position: relative;
	height: 100%;
}

#dynamic-container article.content {
/* 	overflow-y: scroll; */
	height: 80%;
}

#dynamic-container article.content p {
	display: inline-block;
	width: 45%;
}

#dynamic-container article.content img.attribute {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin-top: 1em;
}

#dynamic-container article.content img.img-stack {
	width: 16%;
	display: inline-block;
	vertical-align: top;
	margin: 1em 1em 0 0;
}

.clickable {
	cursor: pointer;
	display: inline-block;
	width: 19%;
}

/*
-------------------------------------------
//////////// MEDIQUERIES ///////////
-------------------------------------------
*/

@media screen and (min-width: 1024px) {
	article {
		width: 60%;
	}
}





